nav {
  background: #111;
}

#main {
  background: url("../assets/bg.jpg") center center / cover no-repeat;
}

#jumbotron a {
  background: #111e;
}

#jumbotron a:hover {
  background: #333e;
}

#jumbotron a:active {
  background: #444e;
}

.navbar-brand {
  font-family: 'Major Mono Display';
  /* text-align: center; */
  line-height: 1.2rem;
  opacity: 80%;
}

.tbg {
  background: #111d;
}
