nav {
  background: #111;
  font-family: 'Raleway';
  
}

.nav-link {
  font-variant: small-caps;
}

#main {
  background: url("../assets/bg.jpg") center center / cover no-repeat;
}

#jumbotron {
  font-family: 'Quicksand';
}

#jumbotron h1 {
  font-weight: 400 !important;
}

#jumbotron a {
  background: #111e;
}

#jumbotron a:hover {
  background: #333e;
}

#jumbotron a:active {
  background: #444e;
}

.navbar-brand {
  font-family: 'Major Mono Display';
  line-height: 1.2rem;
  opacity: 70%;
  font-weight: 800;
}

.tbg {
  background: #111d;
}

.dropdown-menu-dark {
  background: #111;
}

.region-title {
  font-family: 'Quicksand';
  font-weight: 400 !important;
  font-variant: small-caps;
  opacity: 70%;
}

.card {
  font-family: 'Quicksand';
}

#language {
  font-family: 'Sulphur Point';
  font-weight: 600;
}
